body {
  margin: 0;
  padding: 20px;
}
.resume-container {
  display: flex;
  margin: 0 auto;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}
.profile {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 0 0 15px black;
  display: flex;
  margin: 0 auto;
}
.left {
  padding: 20px;
  width: 35%;
  background-color: #1b4784;
  color: white;
  border-right: 5px solid black;
}

h1 {
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  padding-top: 20px;
  color: rgb(46, 2, 2);
}

h3 {
  padding: 2%;
  margin: 20px 0 10px;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 15px black;
  font-size: 24px;
}
ul {
  list-style-type: fill round;
  padding: 10;
  margin: 10px 0;
}
ul li {
  margin: 5px 0;
}
.right {
  padding: 20px;
  width: 65%;
  background-color: white;
  text-align: justify;
}
button {
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}
button:hover {
  background-color: black;
  color: aliceblue;
}
p {
  font-size: 20px;
}
hr {
  border-style: solid;
  border-width: 4px;
  color: rgb(46, 2, 2);
  border-radius: 50%;
}
.abilities {
  width: 60%;
  height: 20px;
  margin: 0 10px;
  position: relative;
}
#file {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
li {
  font-size: 20px;
}
@media (max-width:768px){
  .profile{
    height: 130px;
    width: 130px;
  }
  h1{
    font-size: 20px;
    padding-left: 10px;
  }
  h3{
    font-size: small;
    padding-left: 10px;
  }
  p, li, b{
    font-size: 14px;
    text-align: left;
    hyphens: auto;
    
  }
}
@media (min-width:769px)
and (max-width:1024px){
  .profile{
    height: 160px;
    width: 160px;
  }
  h1{
    font-size: 28px;
    padding-left: 10px;
  }
  h3{
    font-size: medium;
    padding-left: 10px;
  }
  p, li, b{
    font-size: 20px;
    text-align: left;
    hyphens: auto;
    
  }
}
@media (min-width:1025px)
and (max-width:1280px){
  .profile{
    height: 180px;
    width: 180px;
  }
  h1{
    font-size: 32px;
    padding-left: 10px;
  }
  h3{
    font-size: medium;
    padding-left: 10px;
  }
  p, li, b{
    font-size: 22px;
    text-align: left;
    hyphens: auto;
    
  }
}
a{
  color: rgb(96, 96, 245);
}
.abilities{
  /* background-color: rgb(209, 21, 21); */
}

