body {
  margin: 0;
  padding: 50px;
}
.resume-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}
.left {
  padding: 20px;
  width: 35%;
  background-color: rgb(15, 159, 226);
  color: black;
  border-right: 5px solid black;
}
.profile {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 22%;
  border: 3px solid black;
  box-shadow: 0 0 15px black;

}
h1 {
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  padding-top: 20px;
  color: rgb(46, 2, 2);
}

h3 {
  padding: 2%;
  margin: 20px 0 10px;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 15px black;
  font-size: 24px;
}
ul {
  list-style-type: fill round;
  padding: 10;
  margin: 10px 0;
}
ul li {
  margin: 5px 0;
}
.right {
  padding: 20px;
  width: 65%;
  background-color: white;
  text-align: justify;
}
 button {
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  
} 
button:hover {
  background-color: black;
  color: aliceblue;
}
p {
  font-size: 20px;
}
hr{
  border-style:solid;
  border-width: 4px;
 color: rgb(46, 2, 2);
 border-radius: 50%;
}
.abilities{
  width: 60%;
  height: 20px;
  margin: 0 10px;
  position: relative;
  }
  #file{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;}
    li{
      font-size: 20px;
    }